.falvori_restaurant_head h1{
    font-family: 'Sequencia', Arial, sans-serif;
    font-size: 31vh;
    text-align: center;
    font-weight: 400;
 
     transform: translateY(100%);
     margin-bottom: -40px;
}
.empty_div{
    height: 250px;
    width: 100%;
    background-color: #f5f5f5;
}
.falvori_restaurant_head{
    overflow: hidden;
    background-color: #f5f5f5;
    
}
.banner_wrapper{
    width: 98%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    
}
.banner_img_div{
    position: relative;
    width: 40%;
    background: url('https://static.tildacdn.com/tild3664-3161-4535-b465-313832633639/max1232617_A_delecta.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.welcome_whole_wrapper{
    height: 150vh;
    background-color: #151515;
    z-index: 999;
    margin-top: 700px;
    display: flex;
    justify-content: center;
    align-items:end ;
}
.welcome_img_wrapper{
    width: 93%;
    background: url('https://static.tildacdn.com/tild6663-6164-4566-b762-616133303038/max1232617_product_p.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 999;
}